<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.huangyingsheng.wechat.token.dao.TokenMapper">
    <resultMap id="BaseResultMap" type="com.huangyingsheng.wechat.token.entity.WechatAccessToken">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="access_token" property="accessToken" jdbcType="VARCHAR"/>
        <result column="ticket" property="ticket" jdbcType="VARCHAR"/>
        <result column="expires_in" property="expiresIn" jdbcType="INTEGER"/>
        <result column="effective" property="effective" jdbcType="INTEGER"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_by" property="modifyBy" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="display" property="display" jdbcType="INTEGER"/>
    </resultMap>


    <insert id="insert" parameterType="com.huangyingsheng.wechat.token.entity.WechatAccessToken">
      INSERT INTO tb_wechat_access_token
      (id,app_id, access_token,ticket, expires_in, effective, create_by, create_time, modify_by, modify_time, display)
      VALUES
      (#{id,jdbcType=BIGINT},
      #{appId,jdbcType=VARCHAR},
      #{accessToken,jdbcType=VARCHAR},
      #{ticket,jdbcType=VARCHAR},
      #{expiresIn,jdbcType=INTEGER},
      #{effective,jdbcType=INTEGER},
      #{createBy,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{modifyBy,jdbcType=VARCHAR},
      #{modifyTime,jdbcType=TIMESTAMP},
      #{display,jdbcType=INTEGER});
  </insert>


    <update id="effectiveHistory">
        UPDATE tb_wechat_access_token SET effective=2,modify_by='system',modify_time=CURRENT_TIMESTAMP WHERE display=1
    </update>

</mapper>